@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #F2F2F2;
    margin: 0;
    color: #555;
}

h2 {
    color: #f30;
}

h3,
h4 {
    padding-bottom: 5px;
}

a {
    text-decoration: none;
    color: #555;
}

a:hover {
    color: #ff3000;
}

.site {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.part1 {
    width: 240px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.part1-1-nome-perfil {
    padding-top: 30px !important;
}

.part1-1-nome-perfil img {
    width: 128px;
    height: 128px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

.part1-2-tech-stacks {
    margin-top: 10px;
}

.part1-3-links {
    margin-top: 10px;
}

.part1-3-links div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.part2 {
    width: 100%;
    margin-left: 8px;
}

.part2-1-mini-proj div {
    display: flex;
    flex-direction: column;
}

.part2-2-reposits {
    margin-top: 10px;
}

.part2-2-reposits div {
    display: flex;
    flex-direction: column;
}

.part2-3-ferram-dev {
    margin-top: 10px;
}

.part2-3-ferram-dev div {
    display: flex;
    flex-direction: column;
}

.bordas {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #fff;
    padding: 10px;
}

@media (max-width: 850px) {
    .site {
        flex-direction: column;
    }

    .part1 {
        width: 100%;
    }

    .part2 {
        margin-left: 0;
        margin-top: 10px;
    }
}

.blink {
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
    animation: blink .75s linear infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50.01% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

img {
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}